body {
    color: beige;
    background-color: black;
    font-family: Arial;
    display: flex;
    align-items: center;
    padding: 100px 0px;
}

.container {
    border: 4px solid beige;
    background-color: #222;
    padding: 40px;
    border-radius: 40px;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
}

form i {
    margin-left: -30px;
    cursor: pointer;
    color: black;
}

