body {
    color: beige;
    font-family: Arial;
    display: flex;
    align-items: center;
    padding: 100px 0px;

    background-image: url("https://i.pinimg.com/originals/ce/eb/2a/ceeb2a2d650058000ff8f6c4106020a4.gif");
    background-size: cover;        /* fills the screen */
    background-position: center;   /* centers image */
    background-repeat: no-repeat; 
}

.container {
    border: 4px solid beige;
    background-color: #222;
    padding: 40px;
    border-radius: 40px;
    margin: auto;
    display: inline-flex;
    flex-direction: column;

     background-image: url("https://media.tenor.com/r47ZgZUPwEwAAAAM/4th-of-july-night.gif");
     background-size: cover;        /* fills the screen */
     background-position: center;   /* centers image */
     background-repeat: no-repeat; 
}

form i {
    margin-left: -30px;
    cursor: pointer;
    color: black;
}

